* {
    font-family: 'Anonymous Pro', monospace;
}
h1  {
    text-align: center;
    padding: 20px;
    font-size: 250% !important;
}
h2  {
    text-align: center;
    font-size: 180% !important;
}
body {
    font-size: 1.5vh !important;
}
p {
    font-size: 120% !important;
}
