body {
    padding: 15px;
    background: #2E3440;
    color: #ECEFF4;
    font-family: Sans-Serif;
}
a {
    color: #D8DEE9
}
.container {
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width: 1920px) {
    .container {
        width: 40%;
    }
}
